<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link href="../static/styles/flex.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/header-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/footer-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/font-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/contacts_block.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <div class='main-container header relative flex f-row f-justify-between'>
        <div class="header-menu-button-mobile"></div>
        <div class="logo"><a href="index.html"><img src="../static/images/logo.png"></a></div>
        <div class="header-menu flex f-row">
            <div class="header-menu-item flex-center relative"><div class="underline"><a href="services.html">Услуги</a></div></div>
            <div class="header-menu-item flex-center relative"><div class="underline"><a href="">Проекты</a></div></div>
            <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">О нас</a></div></div>
            <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">Контакты</a></div></div>
            <img class="telegram-link" src="../static/images/telegram pink.png">
        </div>
    </div>
</header>
<div style="overflow: hidden;">
<div class="main-banner blur">
    <div class="main-container main-banner-contact flex f-column f-justify-center f-align-center relative">
        <h1 class="contacts-title">Контакты</h1>
        <div class="relative">
        <div class="contacts-block">
            <div class="contacts-keys flex f-column f-justify-center">
                <p>Телефон</p>
                <p>e-mail</p>
            </div>
            <div class="contacts-value flex f-column f-justify-center">
                <p>+7 983 893 99 00</p>
                <p>info@adssmart.ru</p>
            </div>
            <div class="contacts-info">
                <p>Есть вопросы? Оставьте заявку<br> на сайте и мы с вами свяжемся</p>
                <div class="main-banner-button-dark flex-center"><a>Оставить заявку</a></div>
            </div>
        </div>
        <div class="contact-block_light">
            <form action="" method="post" class="faq-form" id="faq-form">
                <input name="phone" placeholder="Телефон" type="tel" class="faq-input">
                <input name="email" required placeholder="e-mail" type="email" class="faq-input">
                <textarea name="message" placeholder="Введите ваш вопрос" type="text" class="faq-input" rows="6"></textarea>
                <div class="flex flex-center">
                <input style="margin-bottom: 0px;" class="main-banner-button-light flex-center" type="submit" name="submit" value="Оставить заявку">
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
</div>
<footer>
    <div class="footer-menu">
        <a href="#">Главная</a>
        <a href="#">О компании</a>
        <div class="logo"><img src="../static/images/logo.png"></div>
        <a href="#">Информация</a>
        <a href="#">Контакты</a>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../scripts/contacts-form.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>