<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/styles/header-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/footer-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/efima-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/font-styles.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Efima</title>
</head>
<body>
    <header>
        <div class='main-container header relative flex f-row f-justify-between'>
            <div class="header-menu-button-mobile"></div>
            <div class="logo"><a href="index.html"><img src="../static/images/logo.png"></a></div>
            <div class="header-menu flex f-row">
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="services.html">Услуги</a></div></div>
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">Проекты</a></div></div>
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">О нас</a></div></div>
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">Контакты</a></div></div>
            </div>
        </div>
    </header>
<div class="main-banner">
    <div class="title main-container"><h1>Efima</h1></div>
</div>
<div class="ov-hid">
<div class="goals-objectives main-container">
    <div class="subtitle"><h2 class="h2">Цели и задачи</h2></div>
    <div class="goals-ob-content">
        <div class="goals-ob-content-text">
            <div class="subtitle-h3"><hr class="line"><h3>Цели</h3></div>
            <p>
                Создание сервиса объявлений с возможностью онлайн заказа и размещения услуг<br><br>
                Расширение границ бизнеса и рынка сбыта товаров и услуг<br><br>
                Минимизация издержек на работу с клиентами за счет функционала интернет-сервиса
            </p>
            <div class="subtitle-h3"><hr class="line"><h3>Задачи</h3></div>
            <p>
                Пользователь должен иметь возможность ознакомиться с полным объемом информации о деятельности и услугах компании<br><br>
                Возможность покупки товаров и услуг покупателем<br><br>
                Полная автоматизация процесса покупки товаров и услуг покупателем<br><br>
                Минимизация телефонных/почтовых контактов с покупателем за счет удобной подачи информации в сервисе объявлений<br><br>
                Автоматизация процесса оплаты товаров и услуг покупателем
            </p>
        </div>
        <div class="goals-ob-content-img"><img src="../static/images/efima_imgs/goals-objectives.png"></div>
    </div>
</div>
<div class="styles-prev main-container h2">
    <div class="ef-logotipe">Логотип<img src="../static/images/efima_imgs/logo-efima.png"></div>
    <div class="ef-fonts">Типографика<img src="../static/images/efima_imgs/fonts.png"></div>
    <div class="ef-colors">Цвет<img src="../static/images/efima_imgs/colors.png"></div>
</div>
<div class="desctop main-container">
    <div class="subtitle"><h2 class="h2">Desctop</h2></div>
    <div class="desctop-schema"><img src="../static/images/efima_imgs/desctop-schema.png"></div>
</div>
<div class="prev-mobile">
    <div class="background"><img src="../static/images/efima_imgs/background.png"></div>
    <div class="prev-content main-container">
        <div class="main-p"><h4 class="h4">Main</h4><div class="main-p-img"><img class="shadow" src="../static/images/efima_imgs/main.png"></div></div>
        <div class="favorites-p"><h4 class="h4">Favorites</h4><div class="favorites-p-img"><img class="shadow" src="../static/images/efima_imgs/favorites.png"></div></div>
        <div class="task-view-p"><h4 class="h4">Task view</h4><div class="task-view-p-img"><img class="shadow" src="../static/images/efima_imgs/task-view.png"></div></div>
    </div>
</div>
<div class="mobile main-container">
    <div class="subtitle"><h2 class="h2">Mobile</h2></div>
    <div class="mobile-block">
        <div class="mockup-rel"><div class="mockup-abs"><img class="mockup" src="../static/images/efima_imgs/mobile.png"></div></div>
        <div class="mobile-schema"><img src="../static/images/efima_imgs/mobile-schema.png"></div>
    </div>
    <div class="four-mobile">
        <div class="mobile-1"><img src="../static/images/efima_imgs/mobile1.png"></div>
        <div class="mobile-2"><img src="../static/images/efima_imgs/mobile2.png"></div>
        <div class="mobile-3"><img src="../static/images/efima_imgs/mobile3.png"></div>
        <div class="mobile-4"><img src="../static/images/efima_imgs/mobile4.png"></div>
    </div>
</div>
</div>
<footer>
    <div class="footer-menu">
        <a href="#">Главная</a>
        <a href="#">О компании</a>
        <div class="logo"><img src="../static/images/logo.png"></div>
        <a href="#">Информация</a>
        <a href="#">Контакты</a>
    </div>
</footer>
</body>
</html>