<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/styles/header-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/footer-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/erp-smart-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/font-styles.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP-Smart</title>
</head>
<body>
    <header>
        <div class='main-container header'>
            <div class="header-menu-button-mobile"><img src="../static/images/Vector.png"></div>
            <div class="logo"><a href="index.html"><img src="../static/images/logo.png"></a></div>
            <div class="header-menu">
            <div class="header-menu-item"><div class="underline"><a href="#">Услуги</a></div></div>
            <div class="header-menu-item"><div class="underline"><a href="#">Проекты</a></div></div>
            <div class="header-menu-item"><div class="underline"><a href="#">О нас</a></div></div>
            <div class="header-menu-item"><div class="underline"><a href="#">Контакты</a></div></div>
            </div>
        </div>
</header>
<div class="background">
<div class="main-banner">
    <div class="title main-container"><h1>ERP-Smart</h1><img src="../static/images/erp-smart_imgs/main-banner-img.png"></div>
</div>
<div class="tasks main-container">
    <div class="subtitle"><h2 class="h2">Задачи</h2></div>
    <ul class="tasks-list">
        <li>Внедрение ERP-систем в работу компании</li>
        <li>Автоматизация процессов в различных сферах торговли и производства</li>
        <li>Упрощение работы персонала</li>
        <li>Систематизация бизнесс-процессов</li>
        <li>Оптимизация рабочего пространства</li>
    </ul>
</div>
<div class="preview main-container">
    <img src="..//static/images/erp-smart_imgs/preview.png">
</div>
</div>
<footer>
    <div class="footer-menu">
        <a href="#">Главная</a>
        <a href="#">О компании</a>
        <div class="logo"><img src="../static/images/logo.png"></div>
        <a href="#">Информация</a>
        <a href="#">Контакты</a>
    </div>
</footer>
</body>
</html>