<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link href="../static/styles/header-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/footer-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/font-styles.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <div class='main-container header relative flex f-row f-justify-between'>
        <div class="header-menu-button-mobile"></div>
        <div class="logo"><img src="../static/images/logo.png"></div>
        <div class="header-menu flex f-row">
            <div class="header-menu-item flex-center relative"><div class="underline"><a href="services.html">Услуги</a></div></div>
            <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">Проекты</a></div></div>
            <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">О нас</a></div></div>
            <div class="header-menu-item flex-center relative"><div class="underline"><a href="contacts.html">Контакты</a></div></div>
            <img class="telegram-link" src="../static/images/telegram pink.png">
        </div>
    </div>
</header>
<div style="overflow: hidden;">
<div class="main-banner">
    <div class="main-container main-banner-content flex f-column f-justify-center relative">
        <h1 class="title">ADS.Smart</h1>
        <p class="main-banner-desc">воплощаем идеи в жизнь</p>
        <p class="main-banner-desc-mobile">на страже вашего комфорта</p>
        <div class="main-banner-button flex-center"><a href="#">Подробнее</a></div>
        <img class="main-banner-image" src="../static/images/main-banner-image.png">
    </div>
</div>

<div class="about main-page-block main-container">
    <img class="back-lines-left" src="../static/images/back-lines1.png">
    <img class="back-lines-right" src="../static/images/back-lines2.png">
    <h2 class="subtitle">О нас</h2>
    <div class="block-content">
        <p>Всё, что необходимо для удобного поиска и полноценной жизни – теперь  у нас. Мы воплощаем самые интересные проекты, нужные людям – чтобы вы нашли то, что вам хочется. Теперь понятные и удобные сервисы для жизни работают на вас, а не наоборот. Мы делаем жизни тысячи людей лучше, собираем самые интересные продукты в единый сервис.<br><br>
            Мы понимаем, что означает для вас качество жизни, и готовы вывести этот показатель на новый уровень. Ежедневно мы делаем каждого пользователя наших сервисов счастливее, чтобы вы смогли найти время для самого важного и успеть всё в срок.            
        </p>
        <img src="../static/images/thomas-lefebvre-gp8BLyaTaA0-unsplash1.jpg">
    </div>
</div>
<div class="vertical-adv-box">
    <p>ADS.Smart - сервис для умных людей,<br>которые ценят свое время</p>
</div>
<div class="main-page-block main-container">
    <h2 class="subtitle">Наши проекты</h2>
    <div class="project-title"><p>Workerry</p></div>
    <div class="project-el">
        <div class="mac-book-pro"><img src="../static/images/Workerry.png"></div>
        <p class="project-el-desc"><b>Workerry</b> — площадка для размещения вакансий и резюме</p>
        <div class="advanteges">
            <div class="advanteges-els">
            <div class="advanteges-el"><p>Аналитика</p></div>
            <div class="advanteges-el"><p>Разработка ТЗ</p></div>
            <div class="advanteges-el"><p>Проектирование</p></div>
            <div class="advanteges-el"><p>UX/UI</p></div>
            <div class="advanteges-el"><p>Дизайн</p></div>
            <div class="advanteges-el"><p>Реализация</p></div>
            <div class="advanteges-el"><p>Тестирование</p></div>
            <div class="advanteges-el"><p>Продвижение</p></div>
            <div class="advanteges-el"><p>Полиграфия</p></div>
        </div>
        </div>
    </div>
</div>
<div class="button-more-details"><a href="workerry.html">Подробнее<svg width="134" height="17" viewBox="0 0 134 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="0.000488325" y1="8.5" x2="133" y2="8.50001" stroke="white"/>
    <line x1="132.688" y1="8.39043" x2="122.688" y2="0.390434" stroke="white"/>
    <line y1="-0.5" x2="12.8062" y2="-0.5" transform="matrix(0.780869 -0.624695 -0.624695 -0.780869 123 16)" stroke="white"/>
    </svg>
    </a></div>
<div class="main-page-block main-container">
    <div class="project-title"><p>Efima</p></div>
    <div class="project-el">
        <div class="mac-book-pro"><img src="../static/images/Efima.png"></div>
        <p class="project-el-desc"><b>Efima</b> — сервис, который помогает найти специалистов для решения различных задач</p>
        <div class="advanteges">
            <div class="advanteges-els">
            <div class="advanteges-el"><p>Аналитика</p></div>
            <div class="advanteges-el"><p>Разработка ТЗ</p></div>
            <div class="advanteges-el"><p>Проектирование</p></div>
            <div class="advanteges-el"><p>UX/UI</p></div>
            <div class="advanteges-el"><p>Дизайн</p></div>
            </div>
        </div>
    </div>
</div>
<div class="button-more-details"><a href="efima.html">Подробнее<svg width="134" height="17" viewBox="0 0 134 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="0.000488325" y1="8.5" x2="133" y2="8.50001" stroke="white"/>
    <line x1="132.688" y1="8.39043" x2="122.688" y2="0.390434" stroke="white"/>
    <line y1="-0.5" x2="12.8062" y2="-0.5" transform="matrix(0.780869 -0.624695 -0.624695 -0.780869 123 16)" stroke="white"/>
    </svg>
    </a></div>
<div class="main-page-block main-container">
    <div class="project-title"><p>ERP Smart</p></div>
    <div class="project-el">
        <div class="mac-book-pro"><img src="../static/images/erpsmart.png"></div>
        <p class="project-el-desc"><b>ERP Smart</b> —разработка и внедрение систем для управления бизнес процессами. CRM, ERP, склад, логистика, продажи.</p>
        <div class="advanteges">
            <div class="advanteges-els">
            <div class="advanteges-el"><p>Аналитика</p></div>
            <div class="advanteges-el"><p>Проектирование</p></div>
            <div class="advanteges-el"><p>UX/UI</p></div>
            <div class="advanteges-el"><p>Дизайн</p></div>
            <div class="advanteges-el"><p>Разработка CRM системы</p></div>
            <div class="advanteges-el"><p>Реализация</p></div>
            <div class="advanteges-el"><p>Тестирование</p></div>
            <div class="advanteges-el"><p>Продвижение</p></div>
            <div class="advanteges-el"><p>Полиграфия</p></div>
            </div>
        </div>
    </div>
</div>
<div class="button-more-details"><a href="erp-smart.html">Подробнее<svg width="134" height="17" viewBox="0 0 134 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="0.000488325" y1="8.5" x2="133" y2="8.50001" stroke="white"/>
    <line x1="132.688" y1="8.39043" x2="122.688" y2="0.390434" stroke="white"/>
    <line y1="-0.5" x2="12.8062" y2="-0.5" transform="matrix(0.780869 -0.624695 -0.624695 -0.780869 123 16)" stroke="white"/>
    </svg>
    </a></div>
<div class="in-dev-block">
    <h2 class="subtitle">В разработке</h2>
    <img class="big-ping-th" src="../static/images/big-ping-th.png">
    <img class="dark-blue-th" src="../static/images/dark-blue-th.png">
    <img class="light-ping-th" src="../static/images/light-ping-th.png">
    <img class="big-blue-th" src="../static/images/big-blue-th.png">
    <img class="big-dark-blue-th" src="../static/images/big-dark-blue-th.png">
    <img class="ping-th" src="../static/images/ping-th.png">
    <img class="img" src="../static/images/things.png">
    <div class="in-dev-block-content">
        <p>У нас много интересных проектов, о которых вы узнаете позже...</p></div>
</div>
</div>
<footer>
    <div class="footer-menu">
        <a href="#">Главная</a>
        <a href="#">О компании</a>
        <div class="logo"><img src="../static/images/logo.png"></div>
        <a href="#">Информация</a>
        <a href="#">Контакты</a>
    </div>
</footer>
</body>
</html>