<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/styles/header-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/footer-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/services-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/font-styles.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги</title>
</head>
<body>
    <header>
        <div class='main-container header relative flex f-row f-justify-between'>
            <div class="header-menu-button-mobile"></div>
            <div class="logo"><a href="index.html"><img src="../static/images/logo.png"></a></div>
            <div class="header-menu flex f-row">
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="services.html">Услуги</a></div></div>
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">Проекты</a></div></div>
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">О нас</a></div></div>
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="contacts.html">Контакты</a></div></div>
            </div>
        </div>
    </header>
<div class="page">
<div class="main-container">
    <div class="title"><h1 class="title">Услуги</h1></div>
    <div class="service-block subt2s">
        <div class="subtitle"><h2>Аналитика<br>и анализ</h2><hr class="line"></div>
        <p class="text">Мы разрабатываем сайты, соответствующие современным стандартам качества и технологичности. Для того, что бы сайт был максимально удобным и понятным для пользователя, мы исследуем рынок, выявляем целевую аудиторию, анализируем конкурентов и разрабатываем предложения по ценообразованию.<br><br>
        Для эффективной работы и  повышения продаж путем привлечения новых клиентов, мы на этапе разработки ТЗ проводим интервью с потенциальными клиентами и анализируем условия и сроки окупаемости проектов.<br><br>
        Мы проводим анализ частотных характеристик и поведенческих факторов. Оптимизируем структуры и модели интерфейсов на основе полученных данных. Это позволяет нам создавать веб-продукты любой сложности.
        </p>
    </div>
    <div class="service-block subt1s">
        <div class="subtitle"><h2>Разработка ТЗ</h2><hr class="line"></div>
        <p class="text">В начале взаимодействия с клиентом в процессе диалога мы собираем информацию о компании и проекте, выясняем какие задачи стоят перед сайтом и ищем наиболее оптимальные решения этих задач. Затем мы анализируем условия и сроки окупаемости проектов и, изучив все требования к продукту и системам, составляем индивидуальное техническое задание.<br><br>
            Техническое задание позволяет повысить эффективность сотрудничества и избежать недопонимания. Оно содержит общую информацию о заказчике и компании, цели проекта, а также требования к структуре, оформлению и наполнению сайта.            
        </p>
    </div>
    <div class="service-block subt1s">
        <div class="subtitle"><h2>Дизайн</h2><hr class="line"></div>
        <p class="text">Для каждого сайта мы создаем уникальный дизайн для решения конкретных бизнес-задач. Дизайн сайта начинается с проработки общей визуальной концепциии и стиля. Одно из ключевых требований современного сайта - адаптивность. Для полноценного охвата аудитории, сайт должен одинаково хорошо демонстрироваться и работать на всех типах устройств. Для этого создается адаптивный дизайн.<br><br> 
            При работе с крупными проектами, мы разрабатываем дизайн-систему, которая отражает философию продукта и постоянно развивается. Которая в будущем помогает сохранить визуальныю идентификацию проекта, упрощает визуальное и техническое обновление продуктов, а также обеспечивает единообразие их интерфейсов.<br><br>
            Грамотный UX/UI дизайн учитывает каждую деталь, в результате чего получается удобный для целевой аудитории продукт.<br><br>
            Мы осуществляем дизайн и верстку различных видов полиграфической продукции: плакатов, буклетов, флаеров, листовок, визитных карточек. Полиграфическая продукция позволяет привлечь внимание целевой аудитории, успешнее продать товар и выделить продукт на фоне других. 
        </p>
    </div>
    <div class="service-block subt2s">
        <div class="subtitle"><h2>Реализация<br>проектов</h2><hr class="line"></div>
        <p class="text">Сначала мы определяем этапы разработки и распределяем задачи между командами.<br><br>
            Затем мы проектируем архитектуру проекта, занимаемся оптимизацией представлений и проработкой структуры данных, разрабатываем модели и модули из которых формируется ядро проекта.<br><br>
            Реализуем программно-аппаратную основу сервиса, отвечающей за функционирование его внутренней части.<br>
            Реализуем пользовательский интерфейс к программно-аппаратной части сервиса в соответствии с дизайн-проектом.<br><br>
            Интегрируем разрабатываемый проект с внешними сервисами.<br><br>
            Проводим ручное и автоматическое тестирование.
        </p>
    </div>
    <div class="service-block subt2s">
        <div class="subtitle"><h2>Маркетинг<br>и продвижение</h2><hr class="line"></div>
        <p class="text">Перед запуском рекламной кампании проводится комплексный анализ бизнеса: маркетинговой ситуации  в целом, целевой аудитории, текущего присутствия бренда в социальных сетях и осуществляется анализ конкурентов. <br><br>
            Цель комплексного анализа - разработка стратегии и выбор оптимальных каналов продвижения.<br><br>
            Ведение контекстной рекламы включает подготовку рекламных кабинетов Яндекс. Директ и Google ads, подбор семантики, настройку и запуск рекламных объявлений с последующим отслеживанием эффективности и проведением оптимизации.<br><br>
            SMM стратегия реализуется через ведение коммерческих аккаунтов, создание контент-плана и креативов, выбор оптимальных каналов и инструментов продвижения - подбор тематических сообществ, блогеров для рекламы и запуск таргета с последующим отслеживанием результатов и оптимизацией.
        </p>
    </div>
</div>
</div>
<footer>
    <div class="footer-menu">
        <a href="#">Главная</a>
        <a href="#">О компании</a>
        <div class="logo"><img src="../static/images/logo.png"></div>
        <a href="#">Информация</a>
        <a href="#">Контакты</a>
    </div>
</footer>
</body>
</html>