<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/styles/header-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/footer-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/workerry-styles.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/font-styles.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workerry</title>
</head>
<body>
    <header>
        <div class='main-container header relative flex f-row f-justify-between'>
            <div class="header-menu-button-mobile"></div>
            <div class="logo"><a href="index.html"><img src="../static/images/logo.png"></a></div>
            <div class="header-menu flex f-row">
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="services.html">Услуги</a></div></div>
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">Проекты</a></div></div>
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="#">О нас</a></div></div>
                <div class="header-menu-item flex-center relative"><div class="underline"><a href="contacts.html">Контакты</a></div></div>
            </div>
        </div>
    </header>
<div class="main-banner">
    <div class="title"><h1>Workerry</h1></div>
</div>
<div class="tasks main-container">
<div class="subtitle"><h2>Задачи</h2></div>
<ol class="tasks-list">
    <li><p>Разработать современный и удобный сервис для поиска работы и подбора персонала</p></li>
    <li><p>Обеспечить удобный доступ к базе актуальных, ежедневно обновляемых резюме и вакансий</p></li>
    <li><p>Организовать возможность удобного общения соискателя и работодателя с помощтю чата, планиирование встреч, интервью, собеседований прямо на сайте</p></li>
    <li><p>Адаптировать сайт под современные устройства</p></li>
</ol>
</div>
<div class="colors-fonts main-container">
    <div class="subtitle"><h2>Цвета и шрифты</h2></div>
    <div class="colors-fonts-grid">
        <div class="cf-grid-a">font<img src="../static/images/workerry_imgs/Grid-a.png"></div>
        <div class="cf-grid-b"><img src="../static/images/workerry_imgs/Grid-b.png"></div>
        <div class="cf-grid-c">accent colors<img src="../static/images/workerry_imgs/Grid-c.png"></div>
        <div class="cf-grid-d">secondaty colors<img src="../static/images/workerry_imgs/Grid-d.png"></div>
    </div>
</div>
<div class="desctop main-container">
    <div class="subtitle"><h2>Desktop</h2></div>
    <div><img src="../static/images/workerry_imgs/desctop-schema.png"></div>
</div>
<div class="epilepsiya">
    <div class="main-container main-page">
        <p>main-page</p><div class="main-page-img"><img class="rock1" src="../static/images/workerry_imgs/Rock.png">
            <img class="rock2" src="../static/images/workerry_imgs/Rock2.png">
            <img class="rock3" src="../static/images/workerry_imgs/Rock3.png"><img src="../static/images/workerry_imgs/main-page.png"></div>
        <img class="pink-sphere" src="../static/images/workerry_imgs/pink-sphere.png">
    </div>
</div>
<div class="epilepsiya-dark">
<div class="epilepsiya-dark-content">
    <div class="search-page main-container"><p>search page</p><div class="search-page-img"><img src="../static/images/workerry_imgs/search-page.png"></div></div>
        <div class="job-view-page main-container"><p>job view page</p><div class="job-view-page-img"><img src="../static/images/workerry_imgs/job-view-page.png"></div></div>
        <div class="account main-container"><p>account</p><div class="account-img"><img src="../static/images/workerry_imgs/account.png"></div></div>
        <div class="calendar main-container"><p>calendar</p><div class="calendar-img"><img src="../static/images/workerry_imgs/calendar.png"></div></div>
        <div class="registration-form main-container"><p>registration form</p><div class="registration-form-img"><img src="../static/images/workerry_imgs/registration-form.png"></div></div>
</div>
</div>
<div class="mobile main-container">
    <div class="subtitle"><h2>Mobile</h2></div>
    <div class="mobile-schema"><img src="../static/images/workerry_imgs/mobile-schema.png"></div>
</div>
<div class="epilepsiya-rotate">
    <div class="table-mobs">
        <div class="tb-1 tb"><img src="../static/images/workerry_imgs/1.png"></div>
        <div class="tb-2 tb"><img src="../static/images/workerry_imgs/2.png"><img src="../static/images/workerry_imgs/22.png"></div>
        <div class="tb-3 tb"><img src="../static/images/workerry_imgs/3.png"><img class="shadow" src="../static/images/workerry_imgs/32.png"><img src="../static/images/workerry_imgs/33.png"></div>
        <div class="tb-4 tb"><img src="../static/images/workerry_imgs/4.png"><img src="../static/images/workerry_imgs/41.png"></div>
        <div class="tb-5 tb"><img src="../static/images/workerry_imgs/5.png"></div>
    </div>
</div>
<footer>
    <div class="footer-menu">
        <a href="#">Главная</a>
        <a href="#">О компании</a>
        <div class="logo"><img src="../static/images/logo.png"></div>
        <a href="#">Информация</a>
        <a href="#">Контакты</a>
    </div>
</footer>
</body>
</html>