.contact-block_light{
    position: absolute;
    display: grid;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    opacity: 0;
    z-index: -1;
    transition-duration: .8s;
}

.faq-form{
    max-width: 380px;
    margin: auto;
    display: grid;
    align-self: center;
}

.faq-form input, textarea{
    margin-bottom: 22px;
    resize: none;
}

.faq-input{
    width: 380px;
    padding: 12px 10px;
    background: #F0F0F0;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #293849;
    border: none;
    outline: none;
}

.main-banner-button-light{
    width: 320px;
    height: 53px;
    border: 2px solid #293849;
  box-sizing: border-box;
  background: #FFFFFF;
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #293849;
  transition-duration: .3s;
  }
  
  .main-banner-button-light:hover{
    background: #293849;
    color: #FFFFFF;
  }
  
  .main-banner-button-light:hover a{
    color: #FFFFFF;
  }
  
  .main-banner-button-light a{
    text-decoration: none;
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #293849;
  transition-duration: .3s;
  }

  .main-banner-button-dark{
    width: 320px;
    height: 53px;
    border: 2px solid #FFFFFF;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: .3s;
  }
  
  .main-banner-button-dark:hover{
    background: #FFFFFF;
  }
  
  .main-banner-button-dark:hover a{
    color: #293849;
  }
  
  .main-banner-button-dark a{
    text-decoration: none;
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  transition-duration: .3s;
  }

  @media (max-width: 800px){
    .contacts-block{
        padding-left: 20px;
        padding-right: 20px;
        max-height: 250px;
        max-width: 500px;
    }
    .contact-block_light{
      padding-left: 20px;
      padding-right: 20px;
      max-height: 250px;
      max-width: 500px;
  }
    .main-banner-contact{
      max-height: 350px;
    }
    .contacts-title{
      margin: 10px;
      font-size: 26px;
    }
    .contacts-keys{
      font-size: 16px;
    }
    .contacts-value{
      font-size: 16px;
    }
    .contacts-info{
      font-size: 16px;
    }
    .main-banner-button-dark{
      width: 170px;
      height: 30px;
    }
    .main-banner-button-dark a{
      font-size: 16px;
    }
    .contacts-block p{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .contacts-info p{
      margin-top: 0px;
      margin-bottom: 0px;
    }
}