@import 'flex.css';
.main-container{
    max-width: 1180px;
    width: auto;
    margin: auto; 
   }
   
   .header{
   height: 102px;
   }
   
   .logo {
     z-index: 10;
     padding-top: 9px;
   }
   
   .header-menu-button-mobile{
     display: none;
   }
   
   .header-menu-button-mobile {
     width: 60px;
     height: 20px;
     border-top: 10px solid #b3bad1;
     border-bottom: 10px solid #b3bad1;
   }

   .header-menu-item{
    padding-left: 60px;
  }

  .header-menu-item a{
    text-decoration: none;
    font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #293849;
  }
  
  @media only screen and (max-width: 800px){
    .main-container{
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    .header{
      height: 60px;
    }
    .header-menu-button-mobile{
      position: absolute;
      left: 5px;
      top: 12.5px;
      display: flex;
      flex-direction: column;

      height: 35px;
    }
    .header .logo {
      margin-left: auto;
      margin-right: auto;
    }
    .header .logo img{
      height: 100px;
      padding-top: 0px;
    }
    .header-menu{
      display: none !important;  
    }
}

@media only screen and (max-width: 580px){
    .main-container{
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
    }
    .header{
      height: 31px;
    }
    .header-menu-button-mobile{
      top: 7px;
      left: 2px;
      width: 31px;
      height: 17px;
      border-top: 5px solid #b3bad1;
     border-bottom: 5px solid #b3bad1;
    }
    .header .logo img{
      height: 54px;
    }
    .header .logo{
      padding-top: 3px;
    }
}